@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Variable.woff") format("woff"),
    url("./fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f200;
  src: url("./fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Extralight.woff") format("woff"),
    url("./fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f300;
  src: url("./fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Light.woff") format("woff"),
    url("./fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f400;
  src: url("./fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Regular.woff") format("woff"),
    url("./fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f500;
  src: url("./fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Medium.woff") format("woff"),
    url("./fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f600;
  src: url("./fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("./fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: f700;
  src: url("./fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Bold.woff") format("woff"),
    url("./fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

$main: #1f65f0;
$lightMain: #2269f5;
$darkMain: #0037a4;
$lightBlue: #bad1ff;
$body: #eef6ff;
$gray: #878790;
$text: #718096;
$lightblack: #3a3a49;
$shadow: rgba(34, 105, 245, 0.1);

::selection {
  color: #fff;
  background: $main;
}

@mixin gradient() {
  background-image: linear-gradient(to bottom, $main, $darkMain);
}
@mixin gradientCust($dir) {
  background-image: linear-gradient(to $dir, $main, $darkMain);
}
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
}

@mixin noBorder() {
  border: none;
  outline: none;
  background-color: transparent;
}
@mixin shadow() {
  box-shadow: 0px 0px 10px $shadow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: f400;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background-color: $body;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
  }
}
@media (max-width: 900px) {
  body {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $lightblack;
}
button {
  @include noBorder();
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid $main; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type="checkbox"]:checked {
  border-color: $main; /* Border color when checked */
  background-color: $main; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type="checkbox"]::before {
  content: "\2713"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

h1 {
  font-family: f700;
  color: $lightblack;
}
h2 {
  font-family: f600;
  color: $lightblack;
}
h3,
h4,
h5,
h6 {
  font-family: f500;
  color: $lightblack;
}

.mainContainer {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 100vh;
  background-image: linear-gradient(to bottom, $main, $darkMain);
  border-radius: 0 25px 25px 0;
  padding-bottom: 30px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.logo {
  padding: 60px 0 40px 0;
  width: fit-content;
  border-bottom: 1px solid #fff;
  img {
    width: 250px;
  }
}

.topNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.linksInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}
.mainLinks {
  list-style: none;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
  li {
    width: 100%;
    a {
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
      padding-left: 20px;
      font-family: f300;
      color: #fff;
      font-size: 1.3em;
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
}
.search {
  width: 100%;
  @include flex();
  position: relative;
  a {
    display: flex;
    align-items: center;
    width: 240px;
    @include noBorder();
    padding-left: 50px;
    padding-right: 10px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1.2em;
    color: #fff;
    font-family: f300;
    &::placeholder {
      color: #fff;
      font-family: f300;
    }
  }
  img {
    position: absolute;
    left: 20px;
    width: 20px;
  }
}
.restLinks {
  gap: 20px;
  padding: 30px 0;
  a {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    font-family: f300;
    color: #fff;
    font-size: 1.3em;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}
.bs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  border: 1px solid #fff;
  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.bs.active {
  border: 1px solid transparent;
  background-color: $lightMain;
}

.price {
  display: flex;
  align-items: center;
  gap: 3px;
  span {
    font-size: 1.3em;
    font-family: f300;
  }
}

.bsInner {
  gap: 20px;
}
.account {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.arrow {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.accInfo {
  display: flex;
  align-items: center;
  gap: 25px;
  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}
.aIn {
  display: flex;
  flex-direction: column;
  span {
    color: #fff;
    font-size: 1.2em;
    &:nth-child(1) {
      width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: f700;
    }
    &:nth-child(2) {
      font-family: f300;
    }
  }
}
.mainContent {
  display: flex;
  gap: 30px;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  padding: 30px;
  width: calc(100% - 310px);
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
  }
}
.tabelInner {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}
.gap30 {
  gap: 30px;
}
.filter {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
}
.filterBox {
  @include flex();
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid rgba(229, 229, 229, 1);
  color: rgba(174, 174, 174, 1);
  height: 45px;
  padding: 0 15px;
  font-family: f300;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  input {
    @include noBorder();
    width: 200px;
    height: 45px;
    padding-right: 20px;
    padding-left: 30px;
    text-align: center;
  }
  button {
    @include flex();
    position: absolute;
    left: 20px;
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}
.mainBack {
  border: none;
  background-color: $main;
  color: #fff;
  gap: 5px;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.table {
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 3px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      th {
        color: $gray;
        font-family: f300;
        font-size: 0.8em;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 1px solid $gray;
        white-space: nowrap;
        &:last-child {
          border-bottom: 0px solid $gray;
          color: transparent;
        }
        img {
          width: 10px;
          height: 10px;
          object-fit: contain;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        max-width: 70px;
        height: 60px;
        text-align: center !important;
        vertical-align: middle !important;
        background-color: #fff;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        color: $lightblack;
        font-size: 0.8em;
        border-bottom: 1px solid $gray;
        &:last-child {
          border-bottom: 0px solid $gray;
        }
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
.mw120 {
  max-width: 120px;
}

.flex {
  display: flex;
  align-items: center;
}
.country {
  width: 20px;
  margin-right: 2px;
}
.user {
  width: 12px;
  margin-right: 2px;
}
.https {
  width: 12px;
  margin-right: 2px;
}
.f600 {
  font-family: f600;
}
.main {
  color: $main;
}
.check {
  border: 1px solid $main;
  color: $main;
  padding: 7px 10px;
  border-radius: 7px;
  font-size: 0.9em;
  font-family: f600;
}
.buy {
  color: #fff;
  background-color: $main;
  padding: 8px 15px;
  border-radius: 7px;
  font-size: 0.9em;
  font-family: f600;
}
.pagination {
  width: 100%;
  @include flex();
  padding: 20px 0;
  gap: 10px;
}
.page {
  font-family: f500;
  color: $lightblack;
  font-size: 1.2em;
}
.pLinks {
  display: flex;
  align-items: center;
  gap: 3px;
}

.page-link {
  @include flex();
  padding: 7px;
  img {
    width: 10px;
    height: 10px;
    object-fit: contain;
  }
  span {
    @include flex();
    @include circle(30px);
    color: #fff;
    background-image: linear-gradient(to left, $main, $darkMain);
  }
}
.select {
  @include flex();
  position: relative;
  select {
    @include noBorder();
    height: 40px;
    padding: 0 20px;
    color: $lightblack;
    border-bottom: 2px solid $main;
    font-family: f500;
    font-size: 1.1em;
  }
  img {
    position: absolute;
    right: 0px;
    width: 15px;
    margin-bottom: 5px;
  }
}
#menu {
  display: none;
  font-size: 1.5em;
  color: #fff;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  @include noBorder();
  span {
    height: 2px;
    width: 30px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    transition: 0.3s;
    &:nth-child(1) {
      top: 28px;
    }
    &:nth-child(2) {
      top: 40px;
    }
    &:nth-child(3) {
      top: 52px;
    }
  }
}

.activeMenu .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}
.activeMenu .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.activeMenu .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}
@media (max-width: 1001px) {
  nav {
    width: 100%;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 80px;
    border-radius: 0;
    z-index: 5;
    justify-content: space-between;
    padding: 0 20px;
    background-image: none;
    background-color: $main;
    box-shadow: 5px 0px 10px $shadow;
    .logo {
      padding: 0;
      border: 0;
      img {
        width: 170px;
      }
    }
  }

  .topNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    z-index: 5;
    @include gradient();
    padding-bottom: 30px;
    padding-left: 20px;
    transition: 0.3s all ease;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .activeMenu {
    .topNav {
      left: 0;
    }
  }
  .mainContent {
    width: 100%;
    padding-top: 100px;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  #menu {
    display: block;
  }
}
@media (max-width: 441px) {
  .filter {
    gap: 10px;
  }
  .filterBox {
    height: 40px;
    input {
      height: 40px;
    }
  }
  .mainContent {
    width: 100%;
    padding: 100px 20px 20px 20px;
  }
  .tabelInner {
    padding: 20px;
  }
  .fsear {
    input {
      width: 100%;
    }
  }
}

.LandS {
  @include flex();
  width: 100%;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}
.gradient {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.shapesInner {
  @include flex();
  width: 100%;
  position: relative;
  height: 45vh;
  overflow: hidden;
  span {
    &:nth-child(1) {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to left, $main, $darkMain);
      border-radius: 0 0 20px 20px;
    }
    &:nth-child(2) {
      position: absolute;
      @include circle(450px);
      background: $lightBlue;
      opacity: 0.5;
      filter: blur(150px);
      left: -200px;
      top: -250px;
    }
  }
}

.formInner {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  z-index: 5;
  form {
    width: 500px;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-family: f400;
      font-size: 2.5em;
    }
  }
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  input {
    @include noBorder();
    padding: 0 15px;
    height: 55px;
    border: 1px solid $gray;
    border-radius: 9px;
    transition: 0.2s all ease;
    &:focus {
      border: 1px solid $main;
    }
  }
}
.d-flex {
  width: 100%;
  display: flex;
  gap: 5px;
  a {
    width: 60px;
    height: 40px;
    color: #fff;
    @include flex();
    background-color: $main;
    border-radius: 5px;
  }
}

.form-control {
  width: 60%;
  @include noBorder();
  height: 40px;
  border: 1px solid $gray;
  border-radius: 9px;
  transition: 0.2s all ease;
  &:focus {
    border: 1px solid $main;
  }
}
#captcha {
  border-radius: 5px;
  border: 1px solid #e3e6ea;
}

.capt {
  padding-top: 10px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  .forgot {
    color: $main;
    font-size: 0.9em;
    margin-left: auto;
  }
}
.subBtn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  gap: 10px;
  span {
    font-size: 0.8em;
    color: $gray;
    font-family: f500;
    a {
      font-family: f500;
      color: #000;
    }
  }
  button {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background-image: linear-gradient(to left, #2269f5, $main);
    color: #fff;
    font-size: 1em;
  }
}
.rem {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  gap: 10px;
  input {
    width: 20px;
    height: 20px;
  }
}
.welc {
  width: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 40px;
}
.head {
  display: flex;
  flex-direction: column;
  img {
    width: 350px;
  }
  h1 {
    font-size: 3em;
    font-family: f300;
    color: #fff;
  }
}
.circle {
  @include circle(400px);
  border: 1px solid $main;
  position: absolute;
}
.c1 {
  bottom: -250px;
  left: -100px;
}
.c2 {
  bottom: -220px;
  left: -170px;
}
.textStroke {
  width: 100%;
  padding: 40px;
  position: absolute;
  bottom: 10vh;
  background-image: url(../media/Frame.png);
  background-repeat: space;
  background-size: contain;
  opacity: 0.5;
}
.faqs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.fa {
  width: 100%;
  cursor: pointer;
  span {
    font-size: 0.9em;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: $main;
    font-family: f300;
    transition: 0.2s all ease;
    svg {
      transition: 0.2s all ease;
      path {
        transition: 0.2s all ease;
      }
    }
  }
  p {
    font-size: 0.9em;
    padding: 10px 15px;
    font-family: f300;
    line-height: 1.5;
    display: none;
  }
}
.fa.active {
  span {
    background-color: $main;
    color: #fff;
    svg {
      transform: rotate(180deg);
      path {
        fill: #fff;
      }
    }
  }
  p {
    display: block;
  }
}
.ghf {
  width: 100%;
  @include flex();
  padding-top: 100px;
  img {
    width: 400px;
    object-fit: contain;
  }
}
.sup {
  .welc {
    width: 500px;
  }
  .input {
    padding-top: 12px;
    gap: 10px;
  }
  .c1 {
    right: -100px;
    left: auto;
  }
  .c2 {
    right: -170px;
    left: auto;
  }
  .capt {
    padding-top: 20px;
  }
}
.reset {
  padding: 50px 20px 250px 20px;
  .capt {
    padding-top: 20px;
  }
  .formInner {
    flex-direction: column;
    align-items: center;
  }
  .welc {
    width: auto;
  }
  .gradient {
    top: auto;
    bottom: 0;
  }
  .shapesInner {
    span {
      &:nth-child(1) {
        border-radius: 20px 20px 0 0;
      }
      &:nth-child(2) {
        left: -200px;
        top: auto;
        bottom: -250px;
      }
    }
  }
  .textStroke {
    bottom: 45vh;
  }
  .c1 {
    top: -250px;
    right: -100px;
    left: auto;
    bottom: auto;
  }
  .c2 {
    top: -220px;
    right: -170px;
    left: auto;
    bottom: auto;
  }
}
.st {
  width: 100%;
  position: absolute;
  padding-top: 40px;
  p {
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: f700;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.7;
    &:nth-child(1) {
      padding-left: 15%;
    }
    &:nth-child(2) {
      padding-left: 30%;
    }
  }
}
@media (max-width: 1050px) {
  .formInner {
    gap: 0;
  }
}
@media (max-width: 650px) {
  .st {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    p {
      font-size: 1.7em;
      text-transform: uppercase;
      font-family: f700;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      opacity: 0.7;
      &:nth-child(1) {
        padding-left: 0;
      }
      &:nth-child(2) {
        padding-left: 0;
      }
    }
  }
  .formInner {
    form {
      width: 100%;
      padding: 40px 20px;
    }
  }
  .welc {
    width: 100%;
  }
  .head {
    filter: drop-shadow(0px 0px 5px $shadow);
    h1 {
      font-size: 2em;
    }
    img {
      width: 250px;
    }
  }
  .sup {
    .ghf {
      display: none;
    }
    .welc {
      padding-bottom: 30px;
      .head {
        filter: none;
      }
    }
  }
  .reset {
    padding-left: 0;
    padding-right: 0;
    .welc {
      padding-bottom: 30px;
      .head {
        filter: none;
      }
    }
  }
}
.welcome-head {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  gap: 20px;
  flex-wrap: wrap;
}
.hT {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 1.3em;
    color: $main;
  }
  p {
    max-width: 650px;
    font-size: 0.8em;
    color: $text;
  }
}
.hDomains {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  span {
    color: $text;
    font-size: 0.9em;
    padding-top: 10px;
  }
}
.hdDs {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-wrap: wrap;
}
.btnShape {
  padding: 0 15px;
  height: 35px;
  @include flex();
  border-radius: 10px;
  border: 1px solid $main;
  font-family: f600;
  color: $main;
}
.btn {
  padding: 0 20px;
  height: 35px;
  @include flex();
  border-radius: 5px;
  color: #fff;
  background-color: $main;
  font-size: 0.9em;
}

.rowItems {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.rIt {
  width: calc((100% - 60px) / 3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  flex-shrink: 1;
}
.rt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-size: 1.4em;
    font-family: f400;
  }
  span {
    font-size: 2.5em;
    font-family: f500;
    color: $lightblack;
  }
}
.rtBtn {
  @include flex();
  width: 70px;
  height: 70px;
  border-radius: 7px;
  background-color: $main;
  gap: 20px;
  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.fdc {
  flex-direction: column;
}
.payMet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.rt {
  .pa {
    @include flex();
    flex-direction: column;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
    span {
      text-transform: uppercase;
      color: #32393f;
      font-size: 1em;
      font-family: f500;
    }
  }
}

.tac {
  text-align: center;
}
@media (max-width: 1400px) {
  .hdDs {
    flex-direction: row;
  }
  .rIt {
    width: 300px;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
@media (max-width: 500px) {
  .rIt {
    width: 100%;
  }
  .hDomains {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .rt {
    span {
      font-size: 2em;
    }
  }
}
.lnew {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 370px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  gap: 20px;
  h1 {
    font-family: f400;
    font-size: 2.5em;
    padding-bottom: 10px;
  }
  h2 {
    font-family: f400;
  }
}

.nws {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $main;
    font-family: f600;
    img {
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
  }
  span {
    color: $gray;
    font-size: 0.9em;
  }
}

.tBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  gap: 25px;
  h2 {
    width: 100%;
    text-align: center;
    font-family: f400;
  }
  a {
    display: flex;
    gap: 30px;
    font-size: 0.9em;
    font-family: f500;
    color: $lightblack;
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}
.tboxR {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  span {
    color: $lightblack;
    font-family: f500;
    font-size: 0.9em;
    &:nth-child(1) {
      width: 80px;
    }
    &:nth-child(2) {
      width: calc(100% - 130px);
      border: 1px solid $gray;
      border-radius: 7px;
      height: 12px;
      overflow: hidden;
      position: relative;
      i {
        position: absolute;
        left: 0;
        border-radius: 0 10px 10px 0;
        height: 100%;
        @include gradientCust(left);
      }
    }
  }
}
@media (max-width: 1200px) {
  .lnew {
    flex-direction: column;
  }
  .news {
    width: 100%;
  }
  .tBox {
    width: 100%;
  }
}
.doms {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  a {
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}
.ds {
  width: 80%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.dom {
  font-size: 0.9em;
  font-family: f600;
  color: $main;
}
@media (max-width: 550px) {
  .ds {
    width: 100%;
  }
  .doms {
    a {
      margin-left: auto;
    }
  }
}

.bx {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
.hdx {
  font-family: f400;
  font-size: 2.5em;
  padding-left: 5%;
  padding-top: 30px;
}

.pgts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width:650px) {
  .pgts{
    justify-content: center;
  }
}
.pgerh {
  width: 250px;
  padding: 30px 15px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  @include shadow();
  img {
    width: 50px;
  }
}
.bht {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  span {
    font-family: f600;
    font-size: 0.8em;
    &:nth-child(1) {
      display: flex;
      align-items: center;
      width: 90px;
      height: 40px;
      font-family: f600;
    }
    &:nth-child(3) {
      width: fit-content;
      position: absolute;
      right: 0;
      padding: 0 10px;
      height: 20px;
      @include flex();
      background-color: rgba(238, 246, 255, 1);
      font-size: 0.8em;
      border-radius: 0 4px 4px 0;
    }
  }
  input {
    width: 100%;
    flex-shrink: 1;
    @include noBorder();
    height: 20px;
    border-radius: 5px;
    padding: 0 10px;
    outline: 2px solid $main;
    font-family: f600;
  }
}
.tboxxx{
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 30px 0;
  gap: 30px;

}

.tboxInner{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: calc(100% - 290px) ;
  .tBox{
    width: 389px;
    @include shadow();
    border-radius: 10px;
    background-color: #fff;
    h2{
      font-size: 1.2em;
    }
    a{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: .8em;
      img{
        width: 30px;
      }
    }
  }
    
  .ifs{
    h2{
      text-align: left;
    }
  }
}
.tbBtns{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  a{
    display: flex;align-items: center;
    text-align: left;
    width: 100%;
    background-color: $main;
    border-radius: 10px;
    height: 45px;
    color: #fff;
    padding: 0 15px;
  }
}
@media (max-width:1400px) {
  .tboxxx{
    flex-direction: column;
    align-items: flex-start;
  }
  .tboxInner{
    width: 100%;
    .tBox{
      flex-grow: 1;
    }
  }
}
@media (max-width: 441px) {
  .bx{
    padding: 30px 0;
    background-color: transparent;
  }
  .pgerh{
    width: 100%;
  }
  .hdx {
    font-size: 2em;
    padding-top: 0;
    transform: translateY(30px);
  }
}